$primary-color: #0078d4;

.radio__container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    user-select: none;
    background-color: red;
    height: 100px;
    flex-grow: 1;
    // margin: 2rem;
    border-radius: 5px;

    .radio__imgContainer {
        padding: 0;
        margin: 0px;
        
        img { 
            height: 100px;
            border-radius: 5px 0 0px 5px;
        }
    }
    .nameAndPlay__container{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        text-decoration: none;

        .radio__name {
            font-size: 16px;
            font-weight: 400;
            color: white;
            margin: 0 1rem 0 1rem;
        }
        
    }
    .play__button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: $primary-color;
        margin: 0 1rem 0 1rem;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
        &:hover {
            background-color: darken($primary-color, 10%);
        }
        position: relative;
        border: none;
        margin: auto 1rem auto auto;
    }
}