.Root__container {
    height: 100vh;
    background: skyblue;
    display: grid;
    grid-template-areas:
        "navbar navbar-top navbar-top"
        "navbar main-view main-view"
        "navbar main-view main-view"
        "audio-player audio-player audio-player";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    
    .Root__navbarTop {
        grid-area: navbar-top;
        width: 100%;
        height: 60px;
        background-color: beige;
    }
    .Root__navbar {
        grid-area: navbar;
        width: 200px;
        height: 100%;
        background-color: antiquewhite;
    }
    .Root__audioPlayer {
        grid-area: audio-player;
        width: 100%;
        height: 100px;
        background-color: aquamarine;
    }
    .Root__mainView {
        grid-area: main-view;
        width: 100%;
        height: 100%;
        background-color: blue;
    }
}