.Root__container {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "navbar navbar-top navbar-top"
        "navbar main-view main-view"
        "navbar main-view main-view"
        "audio-player audio-player audio-player";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    position: relative;
    
    .Root__navbarTop {
        grid-area: navbar-top;
        // position: fixed;
        width: calc(100% - 2rem);
        height: 60px;
        background-color: black;
        display: flex;
        color: white;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        .Root__navbarTop_left {
            display: flex;
            .Root__navbar_icon {
                width: 30px;
                height: 30px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                    position: relative !important;
                    object-fit: cover;
                }
            }

        }
        .Root__navbarTop_right {
            display: flex;
            justify-content: space-between;
            width: 150px;
        }
        
    }

    .Root__navbar {
        grid-area: navbar;
        position: relative;
        width: 200px;
        height: 100%;
        background-color: black;
        color: white;
        display: flex;
        flex-direction: column;
        // align-items: center;
        padding: 1rem;
    
        .Root__navbar_logo {
            font-size: 32px;
            // text-align: center;
        }
        .Root__navbar_main {
            display: flex;
            align-items: center;
            font-size: 24px;
            p {
                width: 100%;
            }
            .Root__navbar_icon {
                width: 30px;
                height: 30px;
                position: relative;
                
                img {
                    width: 100%;
                    height: 100%;
                    position: relative !important;
                    object-fit: cover;
                }
            }
        }
        .Root__navbarList {
            margin-top: 1rem;
            list-style: none;
            padding: 0;
            li {
                margin-top: 1rem;
                font-size: 24px;
                cursor: pointer;
            }
        }
        .Root__navbar_playlistAndLike {
            margin-top: 1rem;
    
            .Root__navbar_icon {
                display: flex;
                width: 30px;
                height: 30px;
                position: relative;
                img {
                    width: 100%;
                    height: 100%;
                    position: relative !important;
                    object-fit: cover;
                }
            }
        }
    }

    .Root__audioPlayer {
        grid-area: audio-player;
        // position: fixed;
        // top: 100vh;
        width: 100%;
        height: 100px;
        background-color: aquamarine;
    }

    .Root__mainView {
        grid-area: main-view;
        // position: relative;
        overflow: auto;
        // z-index: -1;
        width: 100%;
        height: 100%;
        background-color: blue;
    }
}